<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wingflare.business.auth.mapper.LoginTokenMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `token_id`,
        `login_id`,
        `token_key`,
        `expire_time`,
        `created_time`
    </sql>

    <!-- 通用查询结果列，带表明前缀 -->
    <sql id="Base_Column_List_Table_Prefix">
        `sys_login_token`.`token_id`,
        `sys_login_token`.`login_id`,
        `sys_login_token`.`token_key`,
        `sys_login_token`.`expire_time`,
        `created_time`
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap type="LoginTokenDo" id="LoginTokenResult">
        <result property="tokenId" column="token_id"/>
        <result property="loginId" column="login_id"/>
        <result property="tokenKey" column="token_key"/>
        <result property="expireTime" column="expire_time"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>
</mapper>