<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wingflare.business.user.mapper.IdentityMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `identity_id`,
        `org_id`,
        `department_id`,
        `identity_name`,
        `job_level_id`,
        `created_time`,
        `updated_time`,
        `create_user`,
        `create_user_id`,
        `update_user`,
        `update_user_id`,
        `is_delete`,
        `version`
    </sql>

    <!-- 通用查询结果列，带表明前缀 -->
    <sql id="Base_Column_List_Table_Prefix">
        `base_identity`.`identity_id`,
        `base_identity`.`org_id`,
        `base_identity`.`department_id`,
        `base_identity`.`identity_name`,
        `base_identity`.`job_level_id`,
        `base_identity`.`created_time`,
        `base_identity`.`updated_time`,
        `base_identity`.`create_user`,
        `base_identity`.`create_user_id`,
        `base_identity`.`update_user`,
        `base_identity`.`update_user_id`,
        `base_identity`.`is_delete`,
        `version`
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap type="IdentityDo" id="IdentityResult">
        <result property="identityId" column="identity_id"/>
        <result property="orgId" column="org_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="identityName" column="identity_name"/>
        <result property="jobLevelId" column="job_level_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="version" column="version"/>
    </resultMap>
</mapper>