<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wingflare.business.user.mapper.RoleGroupMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `role_group_id`,
        `group_name`,
        `group_remark`,
        `created_time`,
        `updated_time`,
        `create_user`,
        `create_user_id`,
        `update_user`,
        `update_user_id`,
        `is_delete`,
        `version`
    </sql>

    <!-- 通用查询结果列，带表明前缀 -->
    <sql id="Base_Column_List_Table_Prefix">
        `sys_role_group`.`role_group_id`,
        `sys_role_group`.`group_name`,
        `sys_role_group`.`group_remark`,
        `sys_role_group`.`created_time`,
        `sys_role_group`.`updated_time`,
        `sys_role_group`.`create_user`,
        `sys_role_group`.`create_user_id`,
        `sys_role_group`.`update_user`,
        `sys_role_group`.`update_user_id`,
        `sys_role_group`.`is_delete`,
        `version`
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap type="RoleGroupDo" id="RoleGroupResult">
        <result property="roleGroupId" column="role_group_id"/>
        <result property="groupName" column="group_name"/>
        <result property="groupRemark" column="group_remark"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="version" column="version"/>
    </resultMap>
</mapper>